.media-player {
    position: absolute;
    left: 400px;
    top: 200px;
}

audio {
    display: none;
}

.head {
    position: absolute;
    z-index: 3;
}

.vid-bkgd {
    width: 215px;
    height: 160px;
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 2;
}

.vid-bkgd>img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.media-window-controller {
    display: flex;
    z-index: 3;
    position: absolute;
    top: 5px;
    left: 120px;
    cursor: pointer;
}

.media-player-controller {
    display: flex;
    z-index: 3;
    position: absolute;
    top: 30px;
    left: 65px;
    cursor: pointer;
}

.right-ear-container {
    position: absolute;
    left: 200px;
    top: 100px;
    transition-duration: 0.5s;
    z-index: 1;
}

.right-ear {
    position: absolute;
}

.right-open {
    cursor: pointer;
    position: absolute;
    left: 60px;
    top: 65px;
}

.left-ear-container {
    position: absolute;
    left: -55px;
    top: 100px;
    transition-duration: 0.5s;
    z-index: 1;
}

.left-ear {
    position: absolute;
}

.left-open {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 65px;
}

.media-table {
    position: absolute;
    left: -172px;
    top: 10px;
    height: 140px;
    width: 172px;
}

tbody>tr:hover {
    background: blue;
    color: white;
}

.knob-drawer {
    position: absolute;
    left: 84px;
    top: 10px;
    height: 140px;
    width: 172px;
}

.knob-drawer>img {
    width: 100%;
    height: 100%;
}

.player-grid-container {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    width: 100%;
    height: 100%;
    font-family: "Pixelated MS Sans Serif";
}

.now-playing {
    text-align: center;
    margin: 1em;
}

.row-highlight{
    background: blue;
    color: white;
}

.track-details {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.player-progress {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
    height: auto;
}

.player-duration-bar {
    position: absolute;
    left: 5px;
}

.player-current-time {
    position: absolute;
    left: 0px;
    cursor: pointer;
}