<div class="login" *ngIf="!isLoggedIn;">
    <div class="container">
        <label>Username</label>
        <input type="text" [(ngModel)]="username">
        <label>Password</label>
        <input type="password" [(ngModel)]="password">
    </div>
    <div class="container">
        <button (click)="login()">Login</button>
        <div>OR</div>
        <button (click)="createUser()">Sign Up</button>
    </div>
    <div style="display: flex; justify-content: center; font-size: 2em;">{{ resultMessage }}</div>
</div>
<div *ngIf="isLoggedIn;" class="login">
    <label>Welcome, {{ username }}!</label>
</div>