.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #c0c0c0;
    border-top: 2px solid #808080;
    display: flex;
    align-items: center;
    z-index: 5;
}

.start-button {
    background: linear-gradient(to bottom, #c0c0c0, #808080);
    border: 1px solid #808080;
    padding: 0px 20px;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 1em;
    display: flex;
    align-items: center;
    margin-right: 5em;
    height: 80%;
}

.start-button>img {
    padding-right: 1em;
}

.taskbar-button {
    background: linear-gradient(to bottom, #c0c0c0, #808080);
    border: 1px solid #808080;
    padding-left: 2em;
    width: 200px;
    height: 80%;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.taskbar-button:hover {
    background: linear-gradient(to bottom, #a0a0a0, #606060);
}

.taskbar-img {
    margin-right: 1em;
    margin-left: -1.5em;
}

.start-button:hover {
    background: #808080;
    color: white;
}

.taskbar-empty-space {
    flex: 1;
}

.datetime {
    margin-left: auto;
    font-size: 14px;
    color: #000;
    font-size: 1em;
    margin-right: 2em;
    padding: 0.2em 1em;
    border: 1px solid #555;
    box-shadow: inset #555 1px 1px;
    text-align: right;
}

a {
    text-decoration: none;
}

.start-menu {
    position: absolute;
    bottom: 40px;
    left: 5px;
    width: 400px;
    background-color: #c0c0c0;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: [start] 20% 80%;

}

.start-menu-banner {
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 4em;
    z-index: 1;
    padding-bottom: 1em;
    background: #808080;
    align-items: center;
    justify-content: center;
    color: #ddd;
}

.start-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}

.start-menu li {
    font-size: 2em;
    padding: 20px;
    background-color: #a0a0a0;
    cursor: pointer;
}

li>img {
    padding-right: 1em;
}

.start-menu li:hover {
    background-color: blue;
    color: white;
}

.start-link {
    color: black;
}

.hidden {
    display: none;
}

.taskbar-apps{
    display: flex;
}