.desktop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.desktop-icons {
    display: flex;
    flex-direction: column;
    height: 90vh;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 2em;
    padding: 3em;
}

.icon {
    scale: 1.5;
    width: 80px;
    height: 80px;
    margin: 1em;
    text-align: center;
    color: white;
    cursor: pointer;
    user-select: none;
    font-family: "Pixelated MS Sans Serif";
}

.icon>img {
    width: 32px;
    height: 32px;
}

.icon>p {
    background: rgba(0, 0, 0, 0.6);
}
.highlighted {
    outline: 1px dotted blue;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.window{
    position: absolute;
    top: 200px;
    left: 300px;
}
