<div class="desktop" [style.backgroundImage]="'url(' + backgroundImage + ')'">
  <div class="desktop-icons">
    <div *ngFor="let app of apps; let i = index">
      <div class="icon" (dblclick)="openApp(app.name)" (click)="highlightApp(i)"
        [ngClass]="{ 'highlighted': selectedIconIndex === i }">
        <img src="/assets/icons/{{app.name}}.gif">
        <p>{{app.name}}</p>
      </div>
    </div>
  </div>
  <div class="right-click-box" #rightClickBox></div>

  <div class="apps">
    <div *ngFor="let app of apps trackBy: trackByName">
      <div class="window" cdkDrag [class.hidden]="app.isMinimized" *ngIf="app.name !== 'Media Player' && app.isOpen"
        (cdkDragStarted)="updateZIndex(app)" [style.zIndex]="app.zIndex" [style.left]="app.left + 'px'"
        [style.top]="app.top + 'px'">
        <div class="title-bar" cdkDragHandle>
          <div class="title-bar-text">{{app.name}}</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize" (click)="minApp(app.name)"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close" (click)="closeApp(app.name)"></button>
          </div>
        </div>
        <div class="window-body">
          <ng-container *ngComponentOutlet="appComponentMap[app.name]"></ng-container>
        </div>
      </div>
    </div>

    <div [class.hidden]="mediaPlayer.isMinimized" *ngIf="mediaPlayer && mediaPlayer.isOpen">
      <app-media-player></app-media-player>
    </div>
  </div>
</div>