.shape-display-container{
    display: flex;
    align-items: flex-start;
    background-color: #000;
    color: #0f0;
}

.center-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.purchase-response{
    text-align: center;
    font-size: 1.2em;
    white-space: pre-line;
}

.purchase-button{
    all: unset;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0f0;
    border-radius: 10px;
    color: #0f0;
    background: #000;
    font-size: 1.5em;
    padding: 0.25em 0;
    transition-duration: 0.3s;
}

.purchase-button:hover{
    color: black;
    background-color: #0f0;
    transition-duration: 0.3s;
}

.display-controls-container, .shape-editor{
    flex: 2;
    overflow-y: scroll;
}

.display-controls{
    font-size: 1.5em;
    margin: 2em;
}

label{
    font-size: 1.2em;
    font-weight: bold;
}

.display-controls > select{
    width: 100%;
    padding: 0.5em 1em;
    font-size: 2em;
}

option {
    font-size: 2em;
}

.control{
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

canvas {
  flex: 5;
  min-width: 0;
  height: 100%;
  display: block;
}

.controls-title{
    margin: 1em auto;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.field-row{
    margin: 1em;
    font-size: 1.5em;
}

.vertex-data-label{
    display: flex;
    gap: 0.5em;
    justify-content: space-around;
}

.vertex-data{
    display: flex;
    gap: 0.5em;
}

.vertex-data input {
    flex: 2;
    min-width: 0;
}

.input-large{
    padding: 5px 10px;
    font-size: 1.2em;
}