.congrats-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 1em;
    background: #222;
    margin: 1em;
    box-shadow: inset 0 0 10px #fff;
}