.image-container{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

img{
    width: 300px;
}

table {
    border-collapse: collapse;
    margin: 2em auto;
}

td {
    width: 1em;
    height: 1em;
    padding: 0;
    cursor: pointer;
}

.black, .white {
    display: block;
    width: 100%;
    height: 100%;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}