.tablist{
    flex-wrap: wrap;
}

.tablist>li{
    font-size: 1.2em;
    padding: 0.5em 1em;
    cursor: pointer;
}

.list-select{
    margin-bottom: 0.5em;
    width: 20%;
}

.window{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.album-container{
    margin: 1em;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 1.5em;
    flex: 1 0 15%;
}

.album-container > p{
    line-height: 1em;
}

.cover-img{
    width: 150px;
}

.cover-img:hover{
    scale: 1.1;
    transition-duration: 0.3s;
}

.filter{
    font-size: 1.2em;
    margin-left: 2em;
}

.has-review{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.review-container{
    max-width: 1000px;
}

.review-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    font-size: 2em;
}

.font-change-container{
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.font-change-container>button{
    font-size: 1em;
}

.review{
    width: 100%;
    word-break: break-all;
    max-height: 300px;
    overflow-y: scroll;
}

.review pre {
    white-space: pre-wrap;
}

.album-tiers-container{
    display: flex;
    height: 50vh;
    overflow: hidden;
}


.recent-changes-container{
    flex: 1;
    overflow-y: auto;
    
}

.album-list{
    flex: 5;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.best{
    color: blue;
}

.royal{
    font-weight: bold;
    color: blue;
}
