<div [ngClass]="mobile ? 'window-body-mobile' : 'window-body'">
    <select [(ngModel)]="selectedList" class="list-select" (ngModelChange)="updateSelectedList()">
        <option *ngFor="let list of lists">{{list}}</option>
    </select>
    <input placeholder="filter search..." class="filter" [(ngModel)]="filterText">
    <ng-container *ngIf="selectedList === 'Albums'">
        <ng-container *ngIf="!singleReviewView">
            <menu role="tablist" class="tablist">
                <li *ngFor="let tierName of albumTiers" role="tab" [attr.aria-selected]="selectedTier === tierName"
                    (click)="selectedTier = tierName">{{tierName}}</li>
            </menu>
            <div class="window" role="tabpanel">
                <ng-container *ngFor="let album of albums[selectedTier]" class="album-container">
                    <div *ngIf="isItemInFilter(album)" class="album-container" (click)="toReview(album)"
                        [class.has-review]="album.reviewKey">
                        <img [src]="album.coverPath" class="cover-img">
                        <p class="album-title">{{ album.title }}</p>
                        <p class="album-artist">{{ album.artist }}</p>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <ng-container *ngIf="singleReviewView">
            <div class="review-container">
                <button (click)="singleReviewView = false">Back to all reviews</button>
                <div class="review-header">
                    <div class="review-title">{{selectedReview.artist}} - {{selectedReview.title}}</div>
                    <img [src]="selectedReview.coverPath" class="review-img">
                </div>

                <div class="review">
                    <pre [innerHTML]="selectedReview.review"></pre>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="selectedList === 'Movies'">
        <menu role="tablist" class="tablist">
            <li *ngFor="let tierName of movieTiers" role="tab" [attr.aria-selected]="selectedTier === tierName"
                (click)="selectedTier = tierName">{{tierName}}</li>
        </menu>
        <div class="window" role="tabpanel">
            <ng-container *ngFor="let movie of movies[selectedTier]" class="album-container">
                <div class="album-container" *ngIf="isItemInFilter(movie)" >
                    <img [src]="movie.posterPath" class="cover-img">
                    <p class="album-title">{{ movie.title }}</p>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="selectedList === 'Stuff On This Site'">
        <menu role="tablist" class="tablist">
            <li *ngFor="let tierName of stuffOnThisSiteTiers" role="tab" [attr.aria-selected]="selectedTier === tierName"
                (click)="selectedTier = tierName">{{tierName}}</li>
        </menu>
        <div class="window" role="tabpanel">
            <ng-container *ngFor="let item of stuffOnThisSite[selectedTier]" class="album-container">
                <div class="album-container" style="cursor: pointer;" (click)="openApp(item)" *ngIf="isItemInFilter(item)" >
                    <img [src]="'/assets/general/' + item + '.gif'" class="cover-img">
                    <p class="album-title">{{ item }}</p>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>