.admin-container{
    display: flex;
    flex-direction: column;
}
.form-row{
    width: 100%;
    display: flex;
}

.form-item{
    flex: 1;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1.2em;
    font-weight: bold;
}

.backend-message{
    font-weight: bold;
    margin: 1em;
    font-size: 1.2em;
}

.success{
    color: green;
}

.error{
    color: red;
}
