<ng-container *ngIf="!isAdmin">
    <p>Access denied</p>
</ng-container>

<div *ngIf="isAdmin" class="admin-container">
    <div class="form-row">
        <div class=form-item>
            <label>Tool</label>
            <select [(ngModel)]="selectedTool">
                <option *ngFor="let tool of tools">{{tool}}</option>
            </select>
        </div>
    </div>
    <ng-container *ngIf="selectedTool === 'Tier Inserter'">
        <div class="form-row">
            <div class=form-item>
                <label>Type</label>
                <select [(ngModel)]="selectedType">
                    <option *ngFor="let type of types">{{type}}</option>
                </select>
            </div>
            <div class="form-item">
                <label>Tier</label>
                <select [(ngModel)]="selectedTier">
                    <option *ngFor="let tier of tiers">{{tier}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-item">
                <label>Artist</label>
                <input [(ngModel)]="artist">
            </div>
            <div class="form-item">
                <label>Title</label>
                <input [(ngModel)]="title">
            </div>
        </div>
        <div class="form-row">
            <button (click)="postEntryToBackend()">Submit</button>
        </div>
        <div *ngIf="backendMessage" class="backend-message" [class.success]="backendSuccess" [class.error]="!backendSuccess">
            {{backendMessage}}
        </div>
    </ng-container>
    <ng-container *ngIf="selectedTool === 'Update Passwords'">
        <div class="form-row">
            <div class=form-item>
                <label>Users</label>
                <select [(ngModel)]="selectedUser">
                    <option *ngFor="let user of users">{{user.username}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-item">
                <label>Username</label>
                <input [value]="selectedUser?.username">
            </div>
            <div class="form-item">
                <label>Old Password</label>
                <input [value]="selectedUser?.password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-item">
                <label>New Password</label>
                <input [(ngModel)]="title">
            </div>
        </div>
        <div class="form-row">
            <button (click)="postEntryToBackend()">Submit</button>
        </div>dsadsa
    </ng-container>
</div>
