<html style="background-image: url(https://i.redd.it/ib33k4ax7bta1.jpg); background-attachment: fixed; background-position: center;">
<!-- <html> -->
<head>
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/blogs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="nav-container">
        <div class="nav">
            <a href="/index.html">
                <div class="nav-item">HOME</div>
            </a>
            <a href="/templates/blogs.html">
                <div class="nav-item" style="font-weight: bold; color: #1F51FF;">BLOG</div>
            </a>
            <a href="/templates/reviews.html">
                <div class="nav-item">MUSIC REVIEWS</div>
            </a>
            <a href="/puzzle/tutorial.html">
                <div class="nav-item">SOLVE MY PUZZLE</div>
            </a>
        </div>
    </div>  
    <div class="main-container">
        <div class="announcement-container">
            <div class="announcement">
                <a href="/blogs/vault-height-graphic.html" style="color: white; font-weight: bold; text-decoration: underline;">Link to pole vault height graphic</a>
            </div>
            <div class="announcement">
                <label>Celeste Golden Strawberry Collection Tracker: 16/27</label>
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
            </div>   
            <div class="announcement" style="text-align: center; justify-content: center;">
                <div>Next pole vaulting competition</div>
                <div style="display: flex;justify-content: center; margin: 1em;">
                    <img src="https://media3.giphy.com/avatars/youngnailsinc/Hp0J7jeQjChe.gif" height="160">
                    <img src="https://mms.businesswire.com/media/20220228005615/en/1373288/23/TBD.jpg" height="160">
                </div>
               
            </div>
        </div>
        
        <div class="blog-container">
            <!-- <a href="/blogs/11-16-2024.html" class="blog">
                <div>11-16-2024</div>
                <div>Being a Hater</div>
            </a> -->
            <a href="/blogs/11-04-2024.html" class="blog">
                <div>11-04-2024</div>
                <div>Post first meet</div>
            </a>
            <a href="/blogs/10-22-2024.html" class="blog">
                <div>10-22-2024</div>
                <div>Pre first meet</div>
            </a>
            <a href="/blogs/10-04-2024.html" class="blog">
                <div>10-04-2024</div>
                <div>Pole vaulting, celeste, & the worst movie ever</div>
            </a>
            <a href="/blogs/09-29-2024.html" class="blog">
                <div>09-29-2024</div>
                <div>First blog, old hobbies</div>
            </a>
        </div>
    </div>
</body>
