<html>
    <head>
        <link rel="stylesheet" href="/styles/leaderboards.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-container">
            <div class="container">
                <table class="leaderboard">
                    <div class="board-name">Celeste Any%</div>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>1:01:00</td>
                            <td>Sep. 4th, 2024</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>1:05:00</td>
                            <td>Sep. 2nd, 2024</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>1:25:00</td>
                            <td>Sep. 2nd, 2024</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container">
                <table class="leaderboard">
                    <div class="board-name">Mile Time</div>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>4:52</td>
                            <td>Nov. 2018</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>4:57</td>
                            <td>Nov. 2018</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>5:10</td>
                            <td>Aug. 2018</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container">
                <table class="leaderboard">
                    <div class="board-name">Pole Vault Heights</div>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>TBD</td>
                            <td>TBD</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>TBD</td>
                            <td>TBD</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>TBD</td>
                            <td>TBD</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container">
                <table class="leaderboard">
                    <div class="board-name">Half-Marathon Time</div>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>1:39:45</td>
                            <td>Oct. 2023</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>1:50:23</td>
                            <td>Sep. 2023</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>1:56:00</td>
                            <td>Oct. 2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container">
                <table class="leaderboard">
                    <div class="board-name">Peak Chess Ratings</div>
                    <tbody>
                        <tr>
                            <td>Rapid</td>
                            <td>1561</td>
                            <td>Jul. 11th, 2024</td>
                        </tr>
                        <tr>
                            <td>Blitz</td>
                            <td>1522</td>
                            <td>Aug. 15th, 2024</td>
                        </tr>
                        <tr>
                            <td>Bullet</td>
                            <td>1692</td>
                            <td>Aug. 18th, 2024</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <table class="leaderboard">
                    <div class="board-name">Highes Black Ops Zombies Rounds</div>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>78 (Der Reise)</td>
                            <td>Oct. 2022</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>74 (Kino)</td>
                            <td>Aug. 2020</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>65 (Mob of the Dead)</td>
                            <td>2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>
        <img class="fed" src="/resources/fed.webp">
        <img class="rocky" src="/resources/rocky.webp">
        <img class="training" src="/resources/training.webp">
        <img class="phelps" src="/resources/phelps.webp">
    </body>