<head>
    <style>
        .wow {
            color: blue;
            font-size: 2em;
            transform: rotate(45deg);
        }
    </style>
</head>
<div style="width: 700px; height: 475px; background: white; padding: 1em;">
    <div class="window library">
        <div class="title-bar">
            <div class="title-bar-text">Congratulations!!!</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body" style="width: 100%; padding: 1em; margin: auto; display: flex; flex-wrap: wrap;">
            <div style="font-size: 2em; color: blue; text-align: center;">
                CONGRATULATIONS!!!!!<br>
                You are the 100,000th visitor of this site!!<br>
                Click below to claim your reward
            </div>
            <div>
                <img src="/resources/media/trump.jpg" style="width: 200px;">
                <div style="font-size: 1.2em; margin-bottom: 2em;">This link was approved for safety by REAL American
                    patriots!!!</div>
            </div>
            <img src="/resources/media/recording.gif" style="width: 200px;">
            <img src="/resources/media/congratulations.gif"
                style="width: 300px; position: absolute; top: 150px; right: 50px;">

            <div class="wow">WOW!!!</div>
            <img src="/resources/media/grabbers.gif" style="width: 100px;">
            <div style="display: flex; gap: 1em;">
                <a href="/resources/virus.txt" download>
                    <button onclick="downloadVirus()" id="prize" style="font-size: 1.5em;"><img
                            src="/resources/media/click-here.png" style="height: 50px;"></button>
                </a>
                <img src="/resources/media/popup-arrow.png" style="height: 50px;">
            </div>
        </div>
    </div>
</div>