<html>
<head>
    <title>Request</title>
    <script>
        function sendEmail() {
            const message = document.getElementById('message').value;
            const mailtoLink = `mailto:njgriffith1@gmail.com?subject=Review this&body=${encodeURIComponent(message)}`;
            window.location.href = mailtoLink;
        }
    </script>
    <style>
        a{
            color: white;
            font-size: 1.5em;
        }
    </style>
</head>
<body style="background: #111; color: white;">
    <form id="emailForm">
        <textarea id="message" placeholder="let me know what you want me to review!" style="width: 30em; height: 5em;"></textarea><br><br>
        <a onclick="sendEmail()" href="">Send email</a>
    </form>
</body>
</html>
