<html>
    <head>
        <link rel="stylesheet" href="/styles/reviews.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div width="90%" class="grid-container" id="grid-container">
            <div class="grid-item column-title"></div>
            <div class="grid-item column-title">Title</div>
            <div class="grid-item column-title">Artist</div>
            <div class="grid-item column-title">Score</div>
            <div class="grid-item column-title"></div>
        </div>
        <script src="/scripts/reviews.js"></script>
    </body>
</html>

