<html>
    <head>
        <link rel="stylesheet" href="/styles/reviews.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body style="background-image: url(../resources/adventure-time-music.jpg); background-attachment: fixed; background-position: center;">
        <div width="90%" id="grid-container">
            <div class="grid-row-title">
                <div class="grid-item">
                    <div style="font-size: 0.5em; font-weight: bold;">*when sorting by score, 10/10 albums are ordered</div>
                </div>          
                <div onclick="sortAndReloadContent('title', this)" class="grid-item column-title">Title<span id="title-arrow" class="sort-arrow">▼</span></div>
                <div onclick="sortAndReloadContent('artist', this)" class="grid-item column-title">Artist<span id="artist-arrow" class="sort-arrow">▼</span></div>
                <div onclick="sortAndReloadContent('score', this)" class="grid-item column-title">Score<span id="score-arrow" class="sort-arrow">▼</span></div>
                <div onclick="sortAndReloadContent('released', this)" class="grid-item column-title">Released<span id="released-arrow" class="sort-arrow">▼</span></div>
                <div onclick="sortAndReloadContent('reviewed', this)" class="grid-item column-title">Reviewed<span id="reviewed-arrow" class="sort-arrow">▼</span></div>
                <div class="grid-item"><a href="/templates/request.html" style="text-decoration: underline;">Request a review</a></div>
            </div>       
        </div>
        <script src="/scripts/reviews.js"></script>
    </body>
</html>

