img {
    width: 200px;
    margin: 2em auto;
    border: 10px solid red;
}

.creature-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creature-desc {
    width: 80%;
    font-size: 1.5em;
    background: white;
    padding: 1em;
    box-shadow: inset #555 2px 2px 2px;
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 150px;
    margin: 2em 0px;
}

.creature-page-bottom{
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin: 2em 0;
}

button{
    height: 50%;
}