<ng-container *ngIf="!selectedVersion">
    <div class="version-title">Archive</div>
    <div class="version-description">
        <div>Archive of older versions of this site.</div>
        <div>Most stuff probably won't function, mostly for viewing the evolution of the homepage.</div>
    </div>
</ng-container>

<ng-container *ngIf="selectedVersion">
    <div class="version-title">{{versions[selectedVersion].name}}</div>
    <div class="version-description" [innerHTML]="versions[selectedVersion].description"></div>
</ng-container>

<button *ngIf="selectedVersion" (click)="switchVersion(undefined)" style="margin-bottom: 1em;">Back to versions</button>
<div class="sunken-panel">
    <table *ngIf="!selectedVersion">
        <thead>
            <tr>
                <th>Version</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let version of versionNames" (click)="switchVersion(version)">
                <td>{{ versions[version].name }}</td>
                <td [innerHTML]="versions[version].description"></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="selectedVersion">
        <ng-container *ngComponentOutlet="versions[selectedVersion].component"></ng-container>
    </div>
</div>