html{
    background: #111;
    color: #ddd;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#album-title{
    text-align: center;
    color: white;
    font-size: 3em;
}
.grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 300px;
    height: 300px;
    margin: 1em;
}
#review{
    font-size: 1.3em;
    width: 60%;
    word-wrap: break-word;
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    border: 1px solid #ccc; /* Optional border around content */
    padding: 10px; /* Optional padding */
    max-width: 80%; /* Set maximum width to 80% of the container */
    margin: 0 auto; /* Center align the content horizontally */
    overflow-wrap: break-word; /* Allow long words to break and wrap */
}
a{
    color: #555 !important;
    font-size: 1em;
}
.back-link{
    color: #ddd !important;
    font-size: 1.5em;
}
.back-link:hover{
    color:white;
}