html{
    background: #000;
    color: #ddd;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.main-container{
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: [start] 33% [nav-end] 67% [end];
    margin-top: 2em;
    gap: 2em;
}
a{
    text-decoration: none;
}
.nav-container{
    border: none;
    text-align: center;
}
.nav{
    display: flex;
    gap: 1em;
    margin-top: 5em;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding: 2em;
}
.nav-item{
    font-size: 2em;
    padding: 1em;
    margin: auto;
    margin: 1em;
    color: white;
    text-decoration: none;
}
.nav-item:hover{
    text-decoration: underline;
    cursor: pointer;
}
.blog-container{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    gap: 1.5em;
}
.blog{
    border: 1px solid white;
    width: 80%;
    padding: 1em;
    display: grid;
    grid-template-columns: [start] 33% [nav-end] 67% [end];
    text-decoration: none;
    color: white;
    align-items: center;
    background: #384959;
}
.blog:hover{
    background: #333;
    transition-duration: 0.3s;
}
.progress-bar{
    height: 24px;
    width: 300px;
    background: #666;
    margin-top: 0.5em;
    border: 1px solid white;
}
.progress{
    background: #FFD700ed;
    height: 100%;
    width: 59%;
}
.announcement-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.announcement{
    align-items: center;
    font-size: 1.5em;
}
