html{
    background-color: #008080;
}

.title{
    text-align: center;
}
.blog{
    background-color: #ccc;
    width: 60%;
    margin: auto;
    margin-bottom: 3em;
    border: 1px solid white;
    padding: 2em;
    box-shadow: inset black 1px 1px 1px;
}
.blog-body{
    font-size: 2em;
    margin: 1em 0;
}
.header{
    font-size: 3em;
    font-weight: bold;
    margin: 1em 0;
}
.sub-header{
    font-weight: bold;
    margin: 1em 0;
    font-size: 2em;
}
.toggle-button{
    font-size: 0.5em;
    padding: 0.5em;
}
.celeste-table{
    margin: auto;
    width: 100%;
    background: #ccc;
}
.celeste-table th{
    padding: 1em 1em;
    font-size: 1.5em;
    font-weight: bold;
    border:1px solid black;
}
.celeste-table td{
    padding: 1em 1em;
    border:1px solid black;
}
.progress-background{
    background: #555;
    width: 300px;
    height: 24px;
}
.progress{
    background: red;
}
.img-container{
    display: flex;
}
.img-container > img{
    margin: auto;
    width: 500px;
}
a{
    color: black !important;
}