html{
    background: #111;
    color: #ddd;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
a{
    color: #ddd;
    font-size: 1.5em;
}
.main-container{
    width: 80%;
    margin: auto;
}
.blog{
    width: 80%;
    margin: auto;
    border: 1px solid white;
    padding: 2em;
}