html{
    background: #111;
    color: #ddd;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.grid-container{
    display: grid;
    grid-template-columns: [start] 50% [title-start] 50%;
    border-radius: 10px;
    padding: 2em;
}
.grid-item{
    border: 1px solid white;
    place-self: center;
    font-size: 4em;
    padding: 1em;
}
a{
    text-decoration: none;
    color: #ddd;
}
