html{
    background: #111;
    color: #ddd;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    overflow-x: hidden;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 2em;
    margin: auto;
    margin-top: 2em;
}
.container{
    border: 1px solid white;
    border-radius: 10%;
    padding: 2em;
}
.container:hover{
    background: blue;
    transition-duration: 1s;
}
.leaderboard{
    text-align: center;
    width: 50%;
    padding: 2em;
}
.board-name{
    padding-bottom: 1em;
    border-bottom: 1px solid white;
    text-align: center;
}
td{
    padding: 1em;
    text-wrap: nowrap;
}
.fed{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(-25deg);
}
.rocky{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: rotate(25deg);
}
.training{
    position: absolute;
    bottom: 3em;
    left: 3em;
    z-index: -1;
    transform: rotate(0deg);
}
.phelps{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: rotate(25deg);
}