body {
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.desktop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 2em;
  padding: 3em;
  max-height: 90%;
}

.icon {
  scale: 1.5;
  width: 80px;
  height: 80px;
  margin: 1em;
  text-align: center;
  color: white;
  cursor: pointer;
  user-select: none;
  font-family: "Pixelated MS Sans Serif";
}
.icon > img{
  width: 32px;
  height: 32px;
}
.icon > p{
  background: rgba(0, 0, 0, 0.6);
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #c0c0c0;
  border-top: 2px solid #808080;
  display: flex;
  align-items: center;
  z-index: 5;
}

.start-button {
  background: linear-gradient(to bottom, #c0c0c0, #808080);
  border: 1px solid #808080;
  padding: 0px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-right: 5em;
  height: 80%;
}

.taskbar-button {
  background: linear-gradient(to bottom, #c0c0c0, #808080);
  border: 1px solid #808080;
  padding-left: 2em;
  width: 200px;
  height: 80%;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.taskbar-button:hover {
  background: linear-gradient(to bottom, #a0a0a0, #606060);
}

.taskbar-img {
  margin-right: 1em;
  margin-left: -1.5em;
}

.start-button:hover {
  background: #808080;
  color: white;
}

.taskbar-empty-space {
  flex: 1;
}

.datetime {
  margin-left: auto;
  font-size: 14px;
  color: #000;
  font-size: 1em;
  margin-right: 2em;
  padding: 0.2em 1em;
  border: 1px solid #555;
  box-shadow: inset #555 1px 1px;
}

a {
  text-decoration: none;
}

.start-menu {
  position: absolute;
  bottom: 40px;
  left: 5px;
  width: 400px;
  background-color: #c0c0c0;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: [start] 20% 80%;

}

.start-menu-banner {
  writing-mode: vertical-rl;
  transform: scale(-1);
  font-size: 4em;
  z-index: 1;
  padding-bottom: 1em;
  background: #808080;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

.start-menu ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.start-menu li {
  font-size: 2em;
  padding: 20px;
  background-color: #a0a0a0;
  cursor: pointer;
}

li>img {
  padding-right: 1em;
}

.start-menu li:hover {
  background-color: blue;
  color: white;
}

.start-link {
  color: black;
}

.hidden{
  display: none;
}

#catalog {
  width: 50%;
  height: 70%;
}
#changelog {
  width: 30%;
  height: 30%;
} 
#reviews{
  width: 70%;
  height: 80%;
}

tbody > tr:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
}

.blog-row>td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1em;
}

.blog-row {
  border-bottom: 1px solid blue;
}

.player-grid-container {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
  height: 100%;
  font-family: "Pixelated MS Sans Serif";
}

.track-details{
  display: flex;
  justify-content: center;
  gap: 1em;
}

.playing{
  background-color: blue;
  color: white;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 3em;
  gap: 1em;
}
#creature{
  width: 200px;
  height: 200px;
  border: 10px solid red;
}
#creature-desc{
  width: 80%;
  font-size: 1.5em;
  background: white;
  padding: 1em;
  box-shadow: inset #555 2px 2px 2px;
  white-space: pre-wrap;
  overflow-y: scroll;
  height: 150px;
}

.media-control:hover{
  outline: 1px dotted blue;
}

/* Adding reviews style */

.review-table-head > tr {
  font-size: 1.5em;
}

th {
  cursor: pointer;
}

th:hover {
  background: #444;
  color: white;
}

.selected-sort {
  background: #444;
  color: white;
}

.review-data {
  text-wrap: wrap;
  font-size: 1.7em;
}

.review-img {
  width: 200px;
  height: 200px;
}

.review-img:hover {
  scale: 1.05;
  transition-duration: 0.5s;
}

.sort-asc {
  color: #555;
}

.sort-desc {
  color: #555;
}

#help {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 800px;
  height: 600px;
}

#help > .window-body > ul > li {
  padding-bottom: 2em;
}

.background-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  gap: 10px;
}

#weather-container{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 30%;
  height: 30%;
  margin: 1em;
  align-self: center;
  position: absolute;
  top: 0;
  right: 0;
  align-content: center;
  color: white;
  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 1px;
  font-size: 1.5em;
  font-family: "Pixelated MS Sans Serif";
}
#primary-weather-data{
  text-align: center;
  margin-right: 1em;
}
#primary-weather-data > img{
  width: 100px;
  margin: auto;
}
#secondary-weather-data{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1.5em;
}
#secondary-weather-data > div{
  display: flex;
  justify-content: space-between;
}
#temperature{
  font-size: 2em;
  padding-top: 0.5em;
}