body {
  /* background-color: #008080; */
  background-image: url(/resources/media/peshay.png);
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Pixelated MS Sans Serif";
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.desktop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 2em;
  padding: 3em;
  max-height: 90%;
}

.icon {
  scale: 1.5;
  width: 80px;
  height: 80px;
  margin: 1em;
  text-align: center;
  color: black;
  cursor: pointer;
  user-select: none;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #c0c0c0;
  border-top: 2px solid #808080;
  display: flex;
  align-items: center;
}

.start-button {
  background: linear-gradient(to bottom, #c0c0c0, #808080);
  border: 1px solid #808080;
  padding: 0px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-right: 5em;
}

.taskbar-button {
  background: linear-gradient(to bottom, #c0c0c0, #808080);
  border: 1px solid #808080;
  padding-left: 2em;
  width: 200px;
  height: 80%;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.taskbar-button:hover {
  background: linear-gradient(to bottom, #a0a0a0, #606060);
}

.taskbar-img {
  margin-right: 1em;
  margin-left: -1.5em;
}

.start-button:hover {
  background: #808080;
  color: white;
}

.taskbar-empty-space {
  flex: 1;
}

.datetime {
  margin-left: auto;
  font-size: 14px;
  color: #000;
  font-size: 1em;
  margin-right: 2em;
  padding: 0.2em 1em;
  border: 1px solid #555;
  box-shadow: inset #555 1px 1px;
}

a {
  text-decoration: none;
}

.start-menu {
  position: absolute;
  bottom: 40px;
  left: 5px;
  width: 400px;
  background-color: #c0c0c0;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: [start] 20% 80%;

}

.start-menu-banner {
  writing-mode: vertical-rl;
  transform: scale(-1);
  font-size: 4em;
  z-index: 1;
  padding-bottom: 1em;
  background: #808080;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

.start-menu ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.start-menu li {
  font-size: 2em;
  padding: 20px;
  background-color: #a0a0a0;
  cursor: pointer;
}

li>img {
  padding-right: 1em;
}

.start-menu li:hover {
  background-color: blue;
  color: white;
}

.start-link {
  color: black;
}

#media-library {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

#blog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#stats {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lists {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hidden-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#internet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
}
#catalog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
}

.library-image {
  width: 60%;
  height: auto;
}

.file-system {
  display: flex;
  gap: 3em;
  margin: 1em;
}

.folder {
  cursor: pointer;
}

#folder-content {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.blog-row:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
}

.blog-row>td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1em;
  /* border-right: 1px solid blue; */
}

.blog-row {
  border-bottom: 1px solid blue;
}

.media {
  margin-left: auto;
  color: #000;
  font-size: 1.1em;
  margin-right: 2em;
  padding: 0.5em;
  text-align: center;
}

.progress-bar {
  background: #ffffff;
  height: 10px;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 #ffffff, inset 1px 1px 0 #000000;
  position: relative;
}

.progress {
  background: #000080;
  width: 50%;
  height: 100%;
}

tbody>tr:hover {
  color: white;
  background: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* 10 equal columns */
  grid-template-rows: repeat(4, 1fr);
  /* 2 equal rows */
  width: 100%;
  /* Adjust as needed */
  height: 200px;
  /* Adjust as needed */
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 3em;
}
#creature{
  width: 200px;
  height: 200px;
  border: 10px solid red;
}
#creature-desc{
  width: 80%;
  font-size: 1.5em;
  background: white;
  padding: 1em;
  box-shadow: inset #555 2px 2px 2px;
  white-space: pre-wrap;
  overflow-y: scroll;
  height: 150px;
}