html{
    background: #111;
    color: #ddd;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.grid-container{
    display: grid;
    grid-template-columns: [start] 20% [title-start] 20% [artist-start] 20% [score-start] 5% [review-start] 35% [end];
    border: 1px solid white;
    border-radius: 10px;
    padding: 2em;
}
.grid-item{
    place-self: center;
    text-align: center;
    padding: 2em;
    font-size: 2em;
}
img{
    width: 200px;
    height: 200px;
}
.cover{
    grid-column-start: 1;
    grid-column-end: 2;
    place-self: center;
}
.cover:hover{
    transform: scale(1.25);
    transition-duration: 0.8s;
}
.title{
    grid-column-start: 2;
    grid-column-end: 3;
    place-self: center;
    font-size: 1.5em;
}
.artist{
    grid-column-start: 3;
    grid-column-end: 4;
    place-self: center;
    font-size: 1.5em;
}
.score{
    grid-column-start: 4;
    grid-column-end: 5;
    place-self: center;
    font-size: 11.5em;
    font-weight: bold;
}
.review{
    grid-column-start: 5;
    grid-column-end: 6;
    place-self: center;
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
}
