body {
    overflow: hidden;
}

.window {
    margin-top: 5em;
    width: 70%;
}

thead>tr {
    font-size: 1.5em;
}

th {
    cursor: pointer;
}

th:hover {
    background: #444;
    color: white;
}

.selected-sort {
    background: #444;
    color: white;
}

tbody>tr:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

td {
    text-wrap: wrap;
    font-size: 1.7em;
}

img {
    width: 200px;
    height: 200px;
}

img:hover {
    scale: 1.05;
    transition-duration: 0.5s;
}

a {
    color: #fff;
    text-decoration: none;
}

.button-container {
    position: absolute;
    left: 5%;
    top: 2%;
}

button {
    left: 10%;
    cursor: pointer;
    height: 2%;
    margin-left: 2em;
}

.sort-arrow {
    cursor: pointer;
}

.sort-asc {
    color: #555;
}

.sort-desc {
    color: #555;
}

#help {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
}

#help > .window-body > ul > li {
    padding-bottom: 2em;
}